<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>555084340086-r2f20ans7qmsl4gvh4i2utfso1146tkc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555084340086-r2f20ans7qmsl4gvh4i2utfso1146tkc</string>
	<key>API_KEY</key>
	<string>AIzaSyDrtYo0k_tOJySN1rm62qrI39R5ZKcXKL8</string>
	<key>GCM_SENDER_ID</key>
	<string>555084340086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edu.Taufir.Taufir-App</string>
	<key>PROJECT_ID</key>
	<string>taufirapp-ed6cc</string>
	<key>STORAGE_BUCKET</key>
	<string>taufirapp-ed6cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:555084340086:ios:6d2360b8a9510c3d</string>
	<key>DATABASE_URL</key>
	<string>https://taufirapp-ed6cc.firebaseio.com</string>
</dict>
</plist>